.card {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
}

.card header p{
    font-size: 20px;
    font-weight: var(--textweight);
}

.card header h3{
    font-size: 40px;
    font-weight: var(--title-weigh);
    margin: 8px 0px 0px;
}

.card header span{
    font-size: 32px;
    margin-top: 24px;
    display: inline-block;
}